
    {% include '_header.html.twig'%}
        <main>
        {% for article in articles %}
            <article class="card">
                {# on ajoute un chemin path qui va créer un url unique pour chaque article #}
                <a href={{ path('articleShow',{'id':article.id })}}><h1>Le titre : "{{ article.title }}"</h1></a>
                <img src="{{ asset(article.image)}}" alt="">
                <h1>Le contenu : "{{ article.content }}"</h1>
                <h1>id : {{ article.id }}</h1>
            </article>
        {% endfor %}
        </main>
    {% include '_footer.html.twig' %}
